@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "FramentMono", monospace;
}

/* hide scroll bar */
::-webkit-scrollbar {
  display: none;
}

/* hide scroll bar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
